* {
    color: white;
    font-family: 微软雅黑;
    text-shadow: none;
    font-size:12px;
}

#login {
    background: -webkit-radial-gradient(RGB(35,175,234), RGB(0,71,137) );
   
    width: 100%;
}

    #login .box1 {
        text-align: center;
    }

#login_logo {
    max-width: 468px;
    max-height: 346px;
    width: 80%;
    height: auto;
}

#login_form {
    width: 80%;
    margin: 0 auto;
}

    #login_form .user, #login_form .pwd {
        background-image: url(../img/login_input_bg.png);
        background-size: 100% 100%;
        margin-top: 20px;
    }

    #login_form .login-box, #login_form .register-box {
        margin-top: 20px;
    }

    #login_form .ui-input-text {
        background-color: transparent;
        border: none;
        box-shadow: none;
        background-size: auto 50%;     
        background-position:8% center;
        background-repeat: no-repeat;
        margin: 0px;
    }

    #login_form .user .ui-input-text {
        background-image: url(../img/login_user_icon.png);
    }

    #login_form .pwd .ui-input-text {
        background-image: url(../img/login_pwd_icon.png);
    }

    #login_form .user input, #login_form .pwd input {
        height: 50px;
    }

#userInput, #pwdInput {
    width: 80%;
    margin-left: 20%;
    color: white;
    text-shadow: none;
    font-size: 12px;
}

#loginBtn, #registerBtn {
    height: 50px;
    border-radius: 5px;
    background: none;
    border: none;
    margin: 0px;
    text-shadow: none;
    color: white;
    padding: 0px;
    line-height: 50px;
}

#loginBtn {
    background:  -webkit-linear-gradient(#aeeb38, #67a425);
}

    #loginBtn:hover, #loginBtn:focus, #loginBtn:active {
        background: -webkit-linear-gradient(#67a425,#aeeb38);
        text-decoration: none;
    }

#registerBtn {
    background: -webkit-linear-gradient(#ffa200, #ec6e2f);
}

    #registerBtn:hover, #registerBtn:focus, #registerBtn:active {
        background: -webkit-linear-gradient(#ec6e2f,#ffa200);
        text-decoration: none;
    }

#login_form .ui-grid-a {
    text-align: center;
}

    #login_form .ui-grid-a .ui-block-b {
        font-size: 12px;
        line-height: 45px;
    }


/*#login_form .ui-block-a .ui-checkbox {
    display: inline-block;
}*/

/*#login_form .ui-block-a label {
    border: none;
    background: transparent;
    color: white;
    font-size: 9px;
    text-shadow: none;
}*/

/*#isAutoLogin {
    display: none;
    height: 45px;
}*/
#isAutoLogin {
    text-align: right;
}

    #isAutoLogin img {
        width: 18px;
        height: auto;
        margin-top: 13px;
    }

#autoLoginTxt {
    text-align: left;
}

#forgetPassword {
    color: #fff601;
    text-decoration: none;
    font-size: 12px;
    line-height: 45px;
    display: inline-block;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

#userInput:-ms-input-placeholder,
#pwdInput:-ms-input-placeholder {
    color: white;
}

#userInput::-webkit-input-placeholder,
#pwdInput::-webkit-input-placeholder {
    color: white;
}
