
*{
    color: white;
    font-family: 微软雅黑;
    font-weight: normal;
    text-shadow: none;
    font-size: 12px;
}
#tianqiyubao{
    /*padding-bottom:38px!important;*/
    /*padding-top:40px!important;*/
    background-image: url(../img/c-1.jpg); 
    background-size: 100% auto;
}
#tianqiyubao .box1{
    text-align:center;
}
#tianqiyubao .sp-box,#tianqiyubao .lp-box{
    margin-top:20px;
    padding-top:8px;
    padding-bottom:10px;
    border-radius:3px;
    background-image:url(../img/tianqiyubao_box_bg.png);
}
#tianqiyubao .title-divider{
    height:2px;
    width:100%;
    background-color:#ffffff;
}

#tianqiyubao .sp-title h4,#tianqiyubao .lp-title h4{    
    margin-top:0px;
    margin-bottom:3px;
    padding-top:3px;
    height:20px;
    display:inline-block;
    padding-left:20px;
    padding-right:10px;

}
#tianqiyubao .sp-title h4{
    background-color:#95d44c;
}
#tianqiyubao .sp-con{
    text-align:center;
}
#tianqiyubao .sp-con span{
    display:block;
    width:100%;
    margin-top:10px;
}
#tianqiyubao .sp-con img{
    margin-top:10px;
    width:40%;
    height:auto;
}

#tianqiyubao .lp-title h4{
    background-color:#ffa51b;
}
#tianqiyubao .lp-con{
    text-align:center;
}
#tianqiyubao .lp-con .ui-grid-a{
    margin-top:15px;
}
#tianqiyubao .lp-con .ui-block-a{
    position:relative;
    left:1%;
    height:35px;
    background-image:url(../img/lp_div_bg.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    width:39%;
    line-height:35px;
}
#tianqiyubao .lp-con .ui-block-a .span2{
    color:#ffa51b;
    margin-left:3px;
}
#tianqiyubao .lp-con .ui-block-b{
    width:60%;
    height:35px;
    background-image:url(../img/lp_div_bg2.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
}
#tianqiyubao .lp-con .ui-block-b img{
    height:30px;
    width:auto;
    margin-top:2px;
    
}
#tianqiyubao .lp-con .ui-block-b span{
    vertical-align:top;
    line-height:35px;
    margin-left:3px;
}