#headerBar{
    background-image: url(../img/action_bar.png); 
    background-size: 100% 100%;     
    height:40px;
    border: none;
}
#headerBar .ui-block-a a img{
    height:30px;
    margin-top:5px;
    margin-left:20px;
}
#headerBar h4{
    padding:0px;
    margin:0px;
    line-height:40px;
    text-align:center;
    font-size:16px;
}